<div align="center">

<h1></h1>  
<h1>UNITINS</h1>  
<h2>Mineração de Dados</h2>  

---

<h2> Exercícios: Transformação de Dados para Mineração</h2>  

</div>

Neste notebook, você irá praticar as **técnicas de transformação de dados** vistas em aula.  

Para cada técnica aplicada, comente os códigos desenvolvidos e explique qual o objetivo de se aplicar cada uma das tarefas utilizadas.


## Dataset de exemplo

Vamos criar um dataset para utilizá-lo para realizar as tarefas de transformação

In [ ]:
import pandas as pd
import numpy as np

# Definir tamanho do dataset
n = 500

# Gerar valores aleatórios
idades = np.random.randint(15, 70, size=n)  # idades entre 15 e 70
salarios = np.random.randint(1200, 20000, size=n)  # salários entre 1200 e 20000

# Escolher cidades de forma aleatória
cidades = np.random.choice(
    ["São Paulo", "Rio de Janeiro", "Fortaleza", "Recife", "Salvador", "Belo Horizonte"],
    size=n
)

# Gerar datas aleatórias entre 2020 e 2023
datas = pd.to_datetime(
    np.random.randint(
        pd.Timestamp("2020-01-01").value,
        pd.Timestamp("2023-12-31").value,
        size=n
    )
).normalize()

# Criar DataFrame
df = pd.DataFrame({
    "idade": idades,
    "salario": salarios,
    "cidade": cidades,
    "data_cadastro": datas
})

df.head()


## Exercício 1: Normalização

Aplique a **normalização (Min-Max Scaling)** no atributo `salario`, trazendo os valores para a faixa **[0,1]**.

Dica: use `MinMaxScaler` do `sklearn.preprocessing`.

In [ ]:

# Seu código aqui


## Exercício 2: Padronização

Padronize o atributo `salario` usando **Z-score** (média = 0, desvio padrão = 1).

Dica: use `StandardScaler`.

In [ ]:

# Seu código aqui


## Exercício 3: Transformação Logarítmica

Aplique a **transformação logarítmica** ao atributo `salario` para reduzir a influência de valores muito altos.

Use `np.log1p()` para evitar problemas com zero.

In [ ]:

# Seu código aqui


## Exercício 4: Binning (Discretização)

Crie uma nova coluna `faixa_etaria` que categorize a idade em:

- **jovem** (0–18)  
- **adulto** (19–30)  
- **meia-idade** (31–50)  
- **idoso** (51+)  

Use `pd.cut()`.

In [ ]:

# Seu código aqui


## Exercício 5: One-Hot Encoding

Transforme o atributo `cidade` em colunas binárias (0/1).

Use `pd.get_dummies()`.

In [ ]:

# Seu código aqui


## Exercício 6: Label Encoding

Converta o atributo `cidade` em números inteiros.

Use `LabelEncoder`.

In [ ]:

# Seu código aqui


## Exercício 7: Extração de atributos

A partir do atributo `data_cadastro`, crie três novas colunas: `ano`, `mes` e `dia`.

Use `.dt.year`, `.dt.month` e `.dt.day`.

In [ ]:

# Seu código aqui

Neste notebook você praticou:
- Normalização  
- Padronização  
- Transformação Logarítmica  
- Binning  
- One-Hot Encoding  
- Label Encoding  
- Extração de atributos  

Essas técnicas são fundamentais na **transformação dados** antes de aplicar algoritmos de mineração e aprendizado de máquina.