# KDD - Atividade 2

- Responder todas as perguntas com base em mineração de dados, e formular mais 6:

1 - Qual a quantidade de registros do dataset?

2 - Quantos carros existem por marca?

3 - Qual o total de carros elétricos?

4 - Qual o modelo do carro mais antigo?

5 - Quantos carros existem fabricados no ano de 2020?

6 - Qual a média de preços dos carros por fabricante?

In [11]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/car_price_dataset.csv')

In [12]:
df.shape

(10000, 10)

1. Quantidade de registros.

In [13]:
df.duplicated().sum()

np.int64(0)

2. Verificar linhas duplicadas

In [14]:
df.isna().sum().sort_values(ascending=False)

Brand           0
Model           0
Year            0
Engine_Size     0
Fuel_Type       0
Transmission    0
Mileage         0
Doors           0
Owner_Count     0
Price           0
dtype: int64

3. Mostra a quantidade de nulos em cada coluna.

In [15]:
df.select_dtypes(include=[np.number]).describe().T

,count,mean,std,min,25%,50%,75%,max
Year,10000.0,2011.54370,6.897699,2000.0,2006.00,2012.0,2017.0,2023.0
Engine_Size,10000.0,3.00056,1.149324,1.0,2.00,3.0,4.0,5.0
Mileage,10000.0,149239.11180,86322.348957,25.0,74649.25,149587.0,223577.5,299947.0
Doors,10000.0,3.49710,1.110097,2.0,3.00,3.0,4.0,5.0
Owner_Count,10000.0,2.99110,1.422682,1.0,2.00,3.0,4.0,5.0
Price,10000.0,8852.96440,3112.596810,2000.0,6646.00,8858.5,11086.5,18301.0

4. Medidas como média, desvio-padrão, quartis e extremos das variáveis numéricas.

In [16]:
df['Brand'].value_counts().head(10)

Brand
Ford          1048
Audi          1038
Volkswagen    1020
Honda         1009
Chevrolet     1003
BMW            999
Hyundai        995
Kia            976
Toyota         970
Mercedes       942
Name: count, dtype: int64

5. marcas mais frequentes no conjunto.

In [17]:
df.groupby('Brand')['Price'].mean().sort_values(ascending=False).head(10).round(2)

Brand
Chevrolet     9015.68
Mercedes      8980.09
Audi          8929.37
Volkswagen    8928.38
Kia           8880.09
Ford          8852.57
Toyota        8798.18
Hyundai       8778.28
BMW           8704.07
Honda         8665.60
Name: Price, dtype: float64

6. Calcula a média de preço por marca e ordena das maiores para as menores.

In [18]:
df.groupby('Fuel_Type')['Price'].median().sort_values(ascending=False).round(2)

Fuel_Type
Electric    10051.0
Hybrid       9110.0
Petrol       8167.5
Diesel       8107.0
Name: Price, dtype: float64

7. Preço mediano entre tipos de combustível

In [19]:
df[['Year','Price']].corr().loc['Year','Price']

np.float64(0.6630358185023493)

8. Correlação entre preço e ano

In [20]:
df.groupby('Transmission')['Mileage'].mean().round(2).sort_values(ascending=False)

Transmission
Semi-Automatic    151618.90
Manual            148898.32
Automatic         147210.07
Name: Mileage, dtype: float64

9. Compara o uso médio (quilometragem) entre transmissões.

In [21]:
df['Doors'].value_counts().sort_index()

Doors
2    2455
3    2575
4    2514
5    2456
Name: count, dtype: int64

10. Mostra quantos carros existem por quantidade de portas.

In [22]:
df['Age'] = 2025 - df['Year']
bins = [0,3,6,9,100]
labels = ['0-3','4-6','7-9','10+']
df['Age_Bin'] = pd.cut(df['Age'], bins=bins, labels=labels, right=True, include_lowest=True)
df.groupby('Age_Bin')['Price'].mean().round(2)

/tmp/ipython-input-3126155652.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('Age_Bin')['Price'].mean().round(2)

Age_Bin
0-3    12121.65
4-6    11416.30
7-9    10493.34
10+     7660.06
Name: Price, dtype: float64

11. Cria faixas de idade e calcula o preço médio em cada faixa.

- Gostei bastante desse, porque tira de um mesmo dado, análises diferentes, gerando outro dado/informação

In [23]:
df.groupby('Owner_Count')['Price'].mean().round(2).sort_index()

Owner_Count
1    8841.37
2    8847.26
3    8847.92
4    8869.17
5    8859.74
Name: Price, dtype: float64

12. Analisa a variação do preço conforme o número de proprietários anteriores.